<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Text Input Page</title>
</head>
    <h1>Getting the Most Frequent Words</h1>
    <form th:action="@{/get-most-frequent-words}">
        <label>Text:</label>
        <input placeholder="Enter a text here" th:name="inputtedText" type="text"/>
        <label>Number of Words:</label>
        <input placeholder="Enter a number here" th:name="inputtedNumberOfWords" type="text"/>
        <input type="submit"/>
    </form>
<br>

    <div>The Highest Frequency in the Inputted Text</div>
    <div th:text="${print}">N/A</div>

</body>
</html>